*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: chocolate;
}
form{
    background-color: crimson;
    height: 110vh;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.input-box{
    margin-top: 10px;
    color: blue;
}
.input-box input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
::placeholder{
    font-size: 18px;
}
.age{
    color: blue;

.btn{
    text-align: center;
    /*padding 2opx 4px;*/
}
.btn input{
 padding: 0 40px;
 background-color: aqua;
 color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
    /*box-shadow: blue;*/
}
.btn input:hover{
background-color: white;
 color: white;
}
}